body {
    background-image:
        linear-gradient(rgba(23, 24, 34, 0.600),
            rgba(23, 24, 34, 0.600)),
        url('water-blue.jpg');
}

.title-head {
    color: white;
}

.desc-head {
    color: white;
}

.del-head {
    color: white;
}

hr {
    border-top: 1px solid white;
}